@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* font-family: 'Noto Sans', sans-serif; */

:root {
  --font-family: "Noto Sans", sans-serif;

  --black: #000;

  --red: #cc1f0c;

  --gray: #e5e5e5;

  --dark-gray: #999999;

  --white: #ffffff;

  /*Margins*/

  --m: 1rem;

  --ms: 0.5rem;

  --m-large: 3rem;

  --mtb: 1rem 0;

  --mtb-auto: 1rem auto;

  --mtb-medium: 2rem auto;

  --mlr: 0 1rem;

  --ml: 0 0 0 1rem;

  --mr: 0 1rem 0 0;

  --mb: 0 0 1rem 0;

  --mtb-large: 3rem auto;

  --m-auto: 0 auto;

  /*Paddings*/

  --p: 0.5rem 1rem;

  --ps: 0.5rem 0.75rem;

  --pb: 0 0 1rem 0;

  --pt: 1rem 0 0 0;

  --ptb: 1rem 0;

  --ptb-large: 3rem 0;

  --pr: 0 1rem 0 0;

  --pl: 0 0 0 1rem;

  --plr: 0 1rem;

  /*Border radius*/

  --border-radius-4: 4px;

  --border-radius-10: 10px;

  --border-radius-20: 40px;

  --border-radius-100: 100%;

  /*background colors*/

  --bg-gray-200: #eee;

  /*Shadows*/

  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

body {
  line-height: inherit;
  margin: 0;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
  /* padding: var(--plr); */
}

/*Texts*/

h1,
h2,
h3,
h4 {
  font-family: var(--font-h);
  line-height: normal;
  margin: var(--mb);
}

p {
  font-family: var(--font-t);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.85rem;
}

.hidden {
  /*Mobile*/
  display: none !important;
}

.visible {
  display: flex;
}

.white {
  color: #fff;
}

#logo {
  padding: var(--p);
  height: 60px;
  background-color: var(--gray);
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: var(--mtb);
  width: 100vw;
}

/*Header*/

header {
  grid-column: 1 / -1;
  grid-row: 1/2;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: var(--p); */
  margin: var(--m-auto);
  max-width: 1280px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--m-auto);
}

#grid-controler {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  /* gap: var(--p); */
  padding: var(--p);
  height: auto;
  /* margin: var(--mtb); */
}

.title {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: var(--pt);
}

.buttons-sort-filter-desktop {
  /*Mobile*/
  display: none;
  cursor: pointer;
}

.buttons-sort-filter {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: start;
  gap: var(--p);
  cursor: pointer;
  padding: var(--pt);
}

/* .filter,
.sort {
  display: flex;
  flex-direction: row;
} */

.filter-options,
.sort-options {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
  border: none;
  border-radius: var(--border-radius-10);
  /* font-size: 1rem; */
  letter-spacing: 1px;
  background-color: var(--gray);
  cursor: pointer;
}

#search {
  /* display: flex; */
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.search-container {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.form-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-search input {
  height: 3rem;
  padding: var(--ps);
  margin: var(--mtb);
  border: none;
  margin: var(--mr);
  /* background-color: var(--gray); */
  border-radius: var(--border-radius-10);
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-family);
}

.icons {
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-10);
  padding: 10px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--gray);
  cursor: pointer;
}

.buttons-gray {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 0.85rem; */

  border-radius: var(--border-radius-10);
  padding: 5px 10px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--gray);
  cursor: pointer;
}

.button-expel {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
  border-radius: var(--border-radius-10);
  padding: 10px 20px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--gray);
  cursor: pointer;
}

.buttons-gray .icons {
  box-shadow: none;
  background-color: var(--gray);
}

.buttons-modal {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.85rem;
  border: none;

  border-radius: var(--border-radius-4);
  padding: 5px 10px;
  font-size: 0.85rem;
  letter-spacing: 1px;

  box-shadow: var(--shadow);
  background-color: var(--white);
  cursor: pointer;
}

.buttons-red {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;

  border-radius: var(--border-radius-10);
  padding: 10px 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
}

/* modals */

#filter-modal,
#sort-modal,
#student-modal,
#reachedAmount,
#squad-modal,
#warning {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.modal-filter,
.modal-sort,
.modal-student,
.modal-reached-amount,
.modal-squad,
.modal-warning {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  border-radius: var(--border-radius-10);
  padding: var(--p);

  margin: var(--mtb-medium);
  width: 80%;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: var(--m-large);
}

.modal-container img,
.slytherin {
  width: 4rem;
  margin: var(--mtb-large);
}

.modal-filter ul,
.modal-sort ul {
  list-style: none;
  margin: 2rem 0;
  padding: var(--ptb-large);
  text-align: center;
  width: 100%;
  padding: var(--p);
}

.modal-filter ul li,
.modal-sort ul li {
  padding: var(--ptb);
  border-bottom: 1px solid var(--gray);
}

.modal-filter ul li:last-child,
.modal-sort ul li:last-child {
  border-bottom: none;
}

.modal-filter ul li a,
.modal-sort ul li a {
  text-decoration: none;
  color: var(--black);
}

.student-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: var(--p);
  gap: 0.5rem;
  width: 100%;
}

.fullname {
  font-size: medium;
  font-weight: 600;
}
.gender,
.house-mobile,
.blood,
.responsibility,
.squad {
  font-weight: 600;
}
.photo-container {
  margin: var(--m-auto);
}
.photo-container .photo img {
  width: 110px;
  height: 110px;
}
.fullname,
.gender-container,
.house-container,
.blood-container,
.responsibility-container,
.squad-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: end;
}

.expel-student-container {
  margin: var(--mtb-auto);
}

/*Main*/

main {
  grid-column: 1 / -1;
  grid-row: 2/3;
  padding: var(--p);
}

#parent-mobile {
  margin-top: 380px;
}

hr {
  border: 1px solid var(--gray);
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--mtb);
  /* width: 100%; */
}

.amount-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  /* color: #cc1f0c; */
}

.container-template {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: var(--p);
  /* width: 100%; */
  background-color: var(--white);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow);
  margin: var(--mtb);
}

.pic-container {
  display: flex;
  flex-flow: column;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.photo img {
  border-radius: var(--border-radius-100);
  width: 60px;
  height: 60px;
  border: 2px solid var(--gray);
  position: relative;
  z-index: 0;
}

.icons-container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  bottom: 22px;
}

.i-icon,
.prefect-icon {
  max-height: 16px;
}

.name-nick-house-color-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: baseline;
}

.name-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
  width: 100%;
  justify-content: center;
}

.name {
  font-weight: bold;
  line-height: normal;
}

.nick-house-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: var(--ps);
}

.nickname {
  font-size: smaller;
  font-style: oblique;
}

.house {
  /*Mobile*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: smaller;
}

.house-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: baseline;
}

.color-house,
.house-color {
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-100);
  /* background-color: var(--red); */
}

.housename {
  font-size: smaller;
}

th {
  display: flex;
  flex-wrap: wrap;
}

/* Footer */

footer {
  grid-column: 1 / -1;
  grid-row: 3/4;
}

thead,
.student-object {
  /* Mobile */
  display: none;
  flex-wrap: wrap;
}

.open,
.close {
  cursor: pointer;
}

.close {
  width: 36px;
  height: 36px;
  background-color: var(--white);
  /* padding: var(--ps); */
  border-radius: var(--border-radius-100);
  display: flex;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: -1rem;
  box-shadow: var(--shadow);
}

.pics-modal-container {
  display: flex;
  flex-direction: row;
}

.slytherin {
  width: 4rem;
  height: 4rem;
  background-color: #f1c40f;
  border-radius: var(--border-radius-100);
}

#hack {
  border: 1px solid var(--gray);
  margin: var(--mtb-large);
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  #grid-controler {
    display: grid;
    grid-template-columns: auto 40% 1fr;
    grid-template-rows: 1fr;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1rem;
    /* padding: var(--p); */
    height: auto;
    /* margin: var(--mtb); */
  }

  .title {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  #search {
    /* display: flex; */
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  .buttons-sort-filter {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    justify-content: end;
    margin: var(--mtb);
  }

  .pic-container {
    width: 72px;
    height: 72px;
  }
  .photo img {
    width: 72px;
    height: 72px;
  }
  .name-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nick-house-container {
    gap: 2rem;
  }
  .nickname,
  .name,
  .house {
    font-size: 1rem;
  }

  .house {
    gap: 1rem;
    justify-content: start;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  header {
    padding: var(--pb);
    box-shadow: none;
  }

  #parent-mobile {
    margin-top: 0;
  }

  #table-template {
    /*Desktop*/
    /* display: flex; */
    /* width: 100%; */
  }

  #grid-controler {
    display: grid;
    grid-template-columns: 30% 30% 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: center;
    /* gap: var(--p); */
    padding: var(--p);
    height: auto;
    margin: var(--m-auto);
    /* max-width: 1280px; */
  }

  .title {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  #search {
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  .buttons-sort-filter {
    /*Desktop*/
    display: none;
  }

  .buttons-sort-filter-desktop {
    grid-column: 3/4;
    grid-row: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: var(--p);
  }

  .container-template {
    /*Desktop*/
    /*Desktop*/
    display: none;
  }

  .container {
    max-width: 1280px;
  }
  /* table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  } */

  .student-object {
    /* Mobile */
    display: flex;
    flex-wrap: wrap;
  }

  /* thead { */
  /* margin-left: 94px; */
  /* border-bottom: 0; */
  /* } */

  table {
    min-width: 1280px;
  }

  table thead {
    position: fixed;
    background-color: var(--white);
    height: 60px;
    z-index: 2;
    top: 165px;
  }

  thead,
  th {
    display: flex;
    font-size: smaller;
    justify-content: center;
    /* width: 100%; */
  }

  tbody {
    margin-top: 210px;
  }

  .fix {
    /* width: fit-content; */
    max-width: fit-content;
  }
  .fix:first-child {
    width: 10px !important;
  }

  tr,
  td {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1rem;
    /* width: fit-content; */
    width: 100%;
  }

  tr {
    width: 100%;
    min-width: 1280px;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
  }

  th,
  td {
    width: 100%;
    max-width: 128px;
    min-width: fit-content;
    padding: 1rem 0;
    /* overflow-y: auto; */
  }

  .photo img {
    width: 90px;
    height: 90px;
  }

  .nickname {
    font-style: oblique;
  }

  #table-template tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .filter-options,
  .sort-options {
    width: 120px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.85rem;
    border: none;
    border-radius: var(--border-radius-10);
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: var(--gray);
  }

  .buttons-white {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.85rem;
    border-radius: var(--border-radius-10);
    padding: 10px 20px;
    font-size: 0.85rem;
    letter-spacing: 1px;
    border: none;
    box-shadow: var(--shadow);
    background-color: var(--white);
  }

  .buttons-gray {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.85rem;
    border: none;

    border-radius: var(--border-radius-10);
    padding: 10px 20px;
    font-size: 1rem;
    letter-spacing: 1px;

    box-shadow: var(--shadow);
    background-color: var(--gray);
  }

  .buttons-gray .icons {
    box-shadow: none;
    background-color: var(--gray);
  }

  /* .student-info {
    width: 50%; */
  .modal-filter,
  .modal-sort,
  .modal-student,
  .modal-reached-amount,
  .modal-squad {
    width: 30%;
    padding: var(--p);
  }

  .photo-container .photo img {
    width: 180px;
    height: 180px;
  }

  .fullname {
    font-size: 1.5rem;
    font-weight: 600;
    width: 70%;
    margin: var(--m-auto);
  }
  .gender,
  .house-mobile,
  .blood,
  .responsibility,
  .squad {
    font-size: 1rem;
    font-weight: 600;
  }

  .gender-status,
  .house-name,
  .blood-status,
  .yes,
  .prefect {
    font-size: 1rem;
  }

  .expel-student-container {
    margin: var(--mtb-large);
  }
}
